body {margin:0; padding:0; background: #ccc; font-family: "Arial", sans-serif;}
#root {width:700px; padding:25px 50px; margin:auto; background: #fff;}
form label {font-size:12px; margin-bottom:2px; display: block;}
form input {padding:3px; font-size:12px;}
form input[type="submit"] {background:#333; color:#fff; padding:5px 15px; cursor: pointer; border:none; font-weight: bold;}